

<h1><%= vehicle.inv_year %> <%= vehicle.inv_make %> <%= vehicle.inv_model %></h1>

<img src="<%= vehicle.inv_image %>" alt="Vehicle image" class="vehicle-image">

<h2><%= vehicle.inv_make %> <%= vehicle.inv_model %> Details</h2>

<p>
  <strong>Price:</strong>
  $<%= vehicle.inv_price %>
</p>

<p>
  <strong>Description:</strong>
  <%= vehicle.inv_description %>
</p>

<p>
  <strong>Color:</strong>
  <%= vehicle.inv_color %>
</p>

<p>
  <strong>Miles:</strong>
  <%= vehicle.inv_miles %>
</p>

